# Copy this file to secrets.yml, then encrypt it with:
# ansible-vault encrypt secrets.yml
k3s_token: REPLACE_WITH_EXISTING_K3S_TOKEN
k3s_datastore_endpoint: mysql://k3s:REPLACE_WITH_MARIADB_PASSWORD@tcp(192.168.x.x:3306)/k3s